* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Orbitron', sans-serif;
    padding: 40px;
    font-size: 4rem;
}

.numberView{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.numberView p{
    font-size: 1.7rem;
}

.numberView span{
    font-weight: bold;
}

.instructionGame{
    display: flex;
    align-items: center;
}

.instructionGame img{
    width: 100px;
}

button{
    margin: 50px 0;
    align-self: center;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
}

button:hover{
    background-color: #333;
    color: #fff;
}

.areaNumber{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.cell{
    width: calc((100% / 5) - 20px);
    height: 250px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14rem;
    color: #333;
}

.disabled{
    display: none !important;
}

.areaInputNumber{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.areaInputNumber label{
    font-size: 1.5rem;
    padding-bottom: 20px;
}

#numberValueUser{
    width: 60%;
    font-size: 2rem;
    text-align: center;
}

.result{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .numberView p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1090px) {
    .numberView p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 965px) {
    .numberView p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 775px) {
    .numberView p{
        font-size: 0.8rem;
    }

    .instructionGame img{
        width: 70px;
    }
}
